@model RegisterDto
@{
    ViewBag.Title = "AGM Kayıt Ol";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <!-- register section starts -->
            <section class="row flexbox-container">
                <div class="col-xl-8 col-10">
                    <div class="card bg-authentication mb-0">
                        <div class="row m-0">
                            <!-- register section left -->
                            <div class="col-md-6 col-12 px-0">
                                <div class="card disable-rounded-right mb-0 p-2 h-100 d-flex justify-content-center">
                                    <div class="card-header pb-1">
                                        <div class="card-title">
                                            <h4 class="text-center mb-2">
                                                Kayıt Ol
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <p>
                                            <small>
                                                AGM Portalini kullanmaya başlamak için kayıt olun
                                            </small>
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <form asp-action="Register" method="post" id="jquery-val-form">
                                            <div asp-validation-summary="ModelOnly" class="alert bg-rgba-danger alert-dismissible mb-2">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6 mb-50">
                                                    <label asp-for="Name" class="text-bold-600">
                                                        İsim
                                                    </label>
                                                    <input asp-for="Name" class="form-control" placeholder="İsim">
                                                    <span asp-validation-for="Name" class="error"></span>
                                                </div>
                                                <div class="form-group col-md-6 mb-50">
                                                    <label asp-for="LastName" class="text-bold-600">
                                                        Soy isim
                                                    </label>
                                                    <input asp-for="LastName" class="form-control" placeholder="Soy isim">
                                                    <span asp-validation-for="LastName" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group mb-50">
                                                <label asp-for="UserName" class="text-bold-600">
                                                    Kullanıcı adı
                                                </label>
                                                <input asp-for="UserName" class="form-control" placeholder="Kullanıcı adı">
                                                <span asp-validation-for="UserName" class="error"></span>
                                            </div>
                                            <div class="form-group mb-50">
                                                <label asp-for="Email" class="text-bold-600">
                                                    Mail adresi
                                                </label>
                                                <input asp-for="Email" class="form-control" type="email" placeholder="mail@mail.com">
                                                <span asp-validation-for="Email" class="error"></span>
                                            </div>
                                            <div class="form-group mb-2">
                                                <label asp-for="Password" class="text-bold-600">
                                                    Şifre
                                                </label>
                                                <input asp-for="Password" class="form-control" type="password" placeholder="············">
                                                <span asp-validation-for="Password" class="error"></span>
                                            </div>
                                            <button type="submit" class="btn btn-primary glow position-relative w-100">
                                                KAYIT OL
                                                <i id="icon-arrow" class="bx bx-right-arrow-alt"></i>
                                            </button>

                                            <hr>
                                            <div class="text-center">
                                                <small class="mr-25">
                                                    Zaten hesabınız var mı?
                                                </small>
                                                <a asp-action="Login">
                                                    <small>
                                                        Giriş yap
                                                    </small>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- image section right -->
                            <div class="col-md-6 d-md-block d-none text-center align-self-center p-3">
                                <img class="img-fluid" src="~/frest/app-assets/images/authentication/register.png" alt="register logo">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- register section endss -->
        </div>
    </div>
</div>
<!-- END: Content-->