@model ResetPasswordDto

@{
    ViewData["Title"] = "Şifre sıfırla";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <!-- reset password start -->
            <section class="row flexbox-container">
                <div class="col-xl-7 col-10">
                    <div class="card bg-authentication mb-0">
                        <div class="row m-0">
                            <!-- left section-login -->
                            <div class="col-md-6 col-12 px-0">
                                <div class="card disable-rounded-right d-flex justify-content-center mb-0 p-2 h-100">
                                    <div class="card-header pb-1">
                                        <div class="card-title">
                                            <h4 class="text-center mb-2">
                                                Şifrenizi sıfırlayın
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form asp-action="ResetPasswordConfirm" id="jquery-val-form">
                                            <div asp-validation-summary="ModelOnly" class="alert bg-rgba-danger alert-dismissible mb-2">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="form-group mb-2">
                                                <label asp-for="NewPassword" class="text-bold-600">
                                                    Yeni Şifre
                                                </label>
                                                <div id="show_hide_password">
                                                    <fieldset class="form-group position-relative">
                                                        <input asp-for="NewPassword" class="form-control" type="password" placeholder="············">
                                                        <div class="form-control-position">
                                                            <a href="">
                                                                <i class="bx bx-show" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <span asp-validation-for="NewPassword" class="error"></span>
                                            </div>
                                            <button type="submit" class="btn btn-primary glow position-relative w-100">
                                                Onayla
                                                <i id="icon-arrow" class="bx bx-right-arrow-alt"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- right section image -->
                            <div class="col-md-6 d-md-block d-none text-center align-self-center p-3">
                                <img class="img-fluid" src="~/frest/app-assets/images/authentication/reset-password.png" alt="reset-password logo">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- reset password ends -->

        </div>
    </div>
</div>
<!-- END: Content-->
