<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>@ViewBag.Title</title>

    <link rel="apple-touch-icon" href="~/frest/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/frest/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/frest/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/frest/app-assets/vendors/css/forms/select/select2.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/frest/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/frest/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/frest/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/frest/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="~/frest/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/frest/app-assets/css/themes/semi-dark-layout.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/frest/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/frest/app-assets/css/pages/authentication.css">
    <link rel="stylesheet" type="text/css" href="~/frest/app-assets/css/plugins/forms/validation/form-validation.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/frest/assets/css/style.css">
    <!-- END: Custom CSS-->
</head>
<body class="vertical-layout vertical-menu-modern 1-column  navbar-sticky footer-static bg-full-screen-image  blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <div>
        @RenderBody()
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/frest/app-assets/js/show-hide.js"></script>
    <!-- BEGIN: Vendor JS-->
    <script src="~/frest/app-assets/vendors/js/vendors.min.js"></script>
    <script src="~/frest/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js"></script>
    <script src="~/frest/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js"></script>
    <script src="~/frest/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/frest/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/frest/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/frest/app-assets/js/scripts/configs/vertical-menu-light.js"></script>
    <script src="~/frest/app-assets/js/core/app-menu.js"></script>
    <script src="~/frest/app-assets/js/core/app.js"></script>
    <script src="~/frest/app-assets/js/scripts/components.js"></script>
    <script src="~/frest/app-assets/js/scripts/footer.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/frest/app-assets/js/scripts/forms/validation/form-validation.js"></script>
    <!-- END: Page JS-->
</body>
</html>
