@model RdCenterTechAttendedEventViewModel

<input asp-for="NewAttendedEvent.Id" hidden="hidden" />

<h6 class="invoice-address">
    Türü
</h6>
<div class="form-group">
    <select asp-for="NewAttendedEvent.Type" asp-items="Html.GetEnumSelectList<ConferenceType>()" class="form-control">
        <option value="">
            Seçiniz
        </option>
    </select>
</div>

<h6 class="invoice-address">
    Katılım sağlanan etkinlik
</h6>
<div class="form-group">
    <input asp-for="NewAttendedEvent.AttendedEvent" class="form-control">
</div>

<h6 class="invoice-address">
    Yurt içi/Yurt dışı
</h6>
<div class="form-group">
    <select asp-for="NewAttendedEvent.Location" asp-items="Html.GetEnumSelectList<ConferenceLocation>()" class="form-control">
        <option value="">
            Seçiniz
        </option>
    </select>
</div>

<h6 class="invoice-address">
    Katılım tarih aralığı
</h6>
<div class="form-group">
    <fieldset class="form-group position-relative has-icon-left">
        <input asp-for="NewAttendedEvent.AttendDate" type="text" class="form-control showdropdowns" placeholder="Tarih seçin">
        <div class="form-control-position">
            <i class='bx bx-calendar'></i>
        </div>
    </fieldset>
</div>

<h6 class="invoice-address">
    Kişi sayısı
</h6>
<div class="form-group">
    <input asp-for="NewAttendedEvent.PersonNumber" type="number" onkeydown="return event.keyCode !== 69" class="form-control">
</div>

@*<script src="~/frest/app-assets/vendors/js/pickers/pickadate/picker.js"></script>
<script src="~/frest/app-assets/vendors/js/pickers/pickadate/picker.date.js"></script>
<script src="~/frest/app-assets/vendors/js/pickers/pickadate/picker.time.js"></script>
<script src="~/frest/app-assets/vendors/js/extensions/moment.min.js"></script>
<script src="~/frest/app-assets/vendors/js/pickers/daterange/daterangepicker.js"></script>*@
<script src="~/frest/app-assets/js/scripts/pickers/dateTime/pick-a-datetime.js"></script>