@model RdCenterTechAttendedEventViewModel

<input asp-for="NewAttendedEvent.Id" hidden="hidden" />

<h6 class="invoice-address">
    Türü
</h6>
<div class="form-group">
    <select asp-for="NewAttendedEvent.Type" asp-items="Html.GetEnumSelectList<ConferenceType>()" class="form-control">
        <option value="">
            Seçiniz
        </option>
    </select>
</div>

<h6 class="invoice-address">
    Katılım Sağlanan Etkinlik
</h6>
<div class="form-group">
    <input asp-for="NewAttendedEvent.AttendedEvent" class="form-control" />
</div>

<h6 class="invoice-address">
    Yurt İçi/Yurt Dışı
</h6>
<div class="form-group">
    <select asp-for="NewAttendedEvent.Location" asp-items="Html.GetEnumSelectList<ConferenceLocation>()" class="form-control">
        <option value="">
            Seçiniz
        </option>
    </select>
</div>

<h6 class="invoice-address">
    Katılım Tarih Aralığı
</h6>
<div class="form-group">
    <input asp-for="NewAttendedEvent.Id" id="id" hidden="hidden" />
    <fieldset class="form-group position-relative has-icon-left">
        <input asp-for="NewAttendedEvent.AttendDate" type="text" id="attendDate" class="form-control showdropdowns" placeholder="Tarih seçin" />
        <div class="form-control-position">
            <i class='bx bx-calendar'></i>
        </div>
    </fieldset>
</div>

<h6 class="invoice-address">
    Kişi Sayısı
</h6>
<div class="form-group">
    <input asp-for="NewAttendedEvent.PersonNumber" type="number" onkeydown="return event.keyCode !== 69" class="form-control" />
</div>

<script src="~/frest/app-assets/js/scripts/pickers/dateTime/pick-a-datetime.js"></script>
<script>
    $(document).ready(function () {
        var id = $("#id").val();
        if (id == 0) {
            $("#attendDate").val('');
        }
    })
</script>