@model RdCenterTechCollabrationViewModel

<input asp-for="NewCollaboration.Id" hidden="hidden" />

<h6 class="invoice-address">
    İşbiriliği tipi
</h6>
<div class="form-group">
    <select asp-for="NewCollaboration.Collaboration" asp-items="Html.GetEnumSelectList<Collaboration>()" class="form-control">
        <option value="">
            Seçiniz
        </option>
    </select>
</div>

<h6 class="invoice-address">
    Kurum/Kişi adı
</h6>
<div class="form-group">
    <input asp-for="NewCollaboration.Partner" class="form-control">
</div>

<h6 class="invoice-address">
    Ülke
</h6>
<input asp-for="NewCollaboration.CountryText" type="hidden" class="form-control" />
<div class="form-group">
    <fieldset class="form-group">
        <select asp-for="NewCollaboration.CountryCode" id="country" class="select2 form-control select2-hidden-accessible">
            <option selected="selected" value="">
                Seçiniz
            </option>
        </select>
    </fieldset>
</div>

<h6 class="invoice-address">
    İşbirliği türü
</h6>
<div class="form-group">
    <input asp-for="NewCollaboration.CollaborationType" class="form-control">
</div>

<script src="~/frest/app-assets/js/scripts/forms/select/form-select2.js"></script>
<script src="~/frest/app-assets/js/list-country.js"></script>
<script>
    $(document).ready(function () {
        $("#country").val('@ViewBag.Country');
        $("#country").change()

        $("#country").on("change", function () {
            $('input[name="NewCollaboration.CountryText"]').val($("#country option:selected").text());
        })
    });
</script>
