@model RdCenterTechIntellectualPropertyViewModel

<input asp-for="NewProperty.Id" hidden="hidden" />

<h6 class="invoice-address">
    Proje
</h6>
<div class="form-group">
    <select asp-for="NewProperty.ProjectName" asp-items="@Model.ProjectList" class="form-control" id="projectName">
        <option value="">
            Seçiniz
        </option>
    </select>
</div>

<h6 class="invoice-address">
    Mülkiyet Türü
</h6>
<div class="form-group">
    <select asp-for="NewProperty.ProperyType" asp-items="Html.GetEnumSelectList<ProperyType>()" class="form-control" id="propertyType">
        <option value="">
            Seçiniz
        </option>
    </select>
</div>

<h6 class="invoice-address">
    Buluş Adı
</h6>
<div class="form-group">
    <input asp-for="NewProperty.InventionType" class="form-control" />
</div>

<h6 class="invoice-address">
    Ulusal/Uluslararası
</h6>
<div class="form-group">
    <select asp-for="NewProperty.International" asp-items="Html.GetEnumSelectList<International>()" class="form-control" id="international">
        <option value="">
            Seçiniz
        </option>
    </select>
</div>

<h6 class="invoice-address">
    Geliştirme Yeri
</h6>
<div class="form-group">
    <select asp-for="NewProperty.DevelopmentPlace" asp-items="Html.GetEnumSelectList<DevelopmentPlace>()" class="form-control" id="developmentPlace">
        <option value="">
            Seçiniz
        </option>
    </select>
</div>

<h6 class="invoice-address">
    Durum
</h6>
<div class="form-group">
    <select asp-for="NewProperty.Statu" asp-items="Html.GetEnumSelectList<Statu>()" class="form-control" id="statu">
        <option value="">
            Seçiniz
        </option>
    </select>
</div>

<h6 class="invoice-address">
    Başvuru Tarihi
</h6>
<div class="form-group">
    <fieldset class="form-group position-relative has-icon-left">
        <input asp-for="NewProperty.ApplicationDate" asp-format="{0:dd.MM.yyyy}" type="text" id="datePicker" class="form-control pickadate-months-year" placeholder="Tarih seçin" />
        <div class="form-control-position">
            <i class='bx bx-calendar'></i>
        </div>
    </fieldset>
</div>

<script src="~/frest/app-assets/js/scripts/pickers/dateTime/pick-a-datetime.js"></script>
