@model RdCenterContactViewModel
@{
    ViewData["Title"] = "Ar-Ge Merkezi Yetkilileri";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-primary">
                            Ar-Ge Merkezi Yetkilileri
                        </h4>
                    </div>
                    <div class="card-body">
                        <hr />
                        <form asp-action="Contact" method="post" id="jquery-val-form">
                            <div asp-validation-summary="ModelOnly" class="alert bg-rgba-danger alert-dismissible mb-2">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            T.C Kimlik No / Yabancı Kimlik No
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="RdCenterContact.IdentityNumber" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Doğum Tarihi
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input asp-for="RdCenterContact.Birthday" type="text" class="form-control single-daterange" placeholder="mm/dd/yyyy">
                                            <div class="form-control-position">
                                                <i class='bx bx-calendar'></i>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            İsim Soyisim
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="RdCenterContact.NameSurname" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            E-Posta
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="RdCenterContact.Mail" type="email" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Mobil Telefon Numarası
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="RdCenterContact.PhoneNumber" type="tel" class="form-control" maxlength="10">
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1">Kaydet</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->
