@model EditViewModel
@{
    ViewData["Title"] = "Kullanıcı İşlemleri";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="breadcrumbs-top">
                    <h5 class="content-header-title float-left pr-1 mb-0">Hesap Ayaları</h5>
                    <div class="breadcrumb-wrapper d-none d-sm-block"></div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- account setting page start -->
            <section id="page-account-settings">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <!-- left menu section -->
                            <div class="col-md-3 mb-2 mb-md-0 pills-stacked">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center" id="account-pill-general" data-toggle="pill" href="#account-vertical-general" aria-expanded="true">
                                            <i class="bx bx-cog"></i>
                                            <span>
                                                Genel
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center active" id="account-pill-password" data-toggle="pill" href="#account-vertical-password" aria-expanded="false">
                                            <i class="bx bx-lock"></i>
                                            <span>
                                                Şifreyi Değiştir
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- right content section -->
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">
                                                <form asp-action="Edit" method="post" class="validate-form" id="jquery-val-form">
                                                    @Html.AntiForgeryToken()
                                                    <div asp-validation-summary="ModelOnly" class="alert bg-rgba-danger alert-dismissible mb-2">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <h6 class="invoice-address">
                                                                        İsim
                                                                    </h6>
                                                                    <input asp-for="User.Name" class="form-control" placeholder="İsim" />
                                                                    <span asp-validation-for="User.Name" class="error"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <h6 class="invoice-address">
                                                                        Soy isim
                                                                    </h6>
                                                                    <input asp-for="User.LastName" class="form-control" placeholder="Soy isim" />
                                                                    <span asp-validation-for="User.LastName" class="error"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <h6 class="invoice-address">
                                                                    Mail adresi
                                                                </h6>
                                                                <input asp-for="User.Email" class="form-control" type="email" placeholder="mail@mail.com" />
                                                                <span asp-validation-for="User.Email" class="error"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                                            <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">
                                                                Güncelle
                                                            </button>
                                                            <button onclick="window.location='@Url.Action( "Index", "Home")'" type="reset" class="btn btn-light mb-1">
                                                                Vazgeç
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane active" id="account-vertical-password" role="tabpanel" aria-labelledby="account-pill-password" aria-expanded="false">
                                                <form asp-action="EditPassword" method="post" class="validate-form" id="jquery-password">
                                                    <div asp-validation-summary="ModelOnly" class="alert bg-rgba-danger alert-dismissible mb-2">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <h6 class="invoice-address">
                                                                        Eski şifre
                                                                    </h6>
                                                                    <div id="password_old">
                                                                        <fieldset class="form-group position-relative">
                                                                            <input asp-for="Password.OldPassword" class="form-control" type="password" minlength="6" placeholder="············" />
                                                                            <span asp-validation-for="Password.OldPassword" class="error"></span>
                                                                            <div class="form-control-position">
                                                                                <a href="">
                                                                                    <i class="bx bx-show" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <h6 class="invoice-address">
                                                                        Yeni şifre
                                                                    </h6>
                                                                    <div id="password_new">
                                                                        <fieldset class="form-group position-relative">
                                                                            <input asp-for="Password.NewPassword" id="new-password" class="form-control" type="password" minlength="6" placeholder="············" />
                                                                            <span asp-validation-for="Password.NewPassword" class="error"></span>
                                                                            <div class="form-control-position">
                                                                                <a href="">
                                                                                    <i class="bx bx-show" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <h6 class="invoice-address">
                                                                        Yeni şifre tekrar
                                                                    </h6>
                                                                    <div id="password_confirm">
                                                                        <fieldset class="form-group position-relative">
                                                                            <input asp-for="Password.ConfirmPassword" class="form-control" type="password" minlength="6" placeholder="············" />
                                                                            <span asp-validation-for="Password.ConfirmPassword" class="error"></span>
                                                                            <div class="form-control-position">
                                                                                <a href="">
                                                                                    <i class="bx bx-show" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                                            <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">
                                                                Güncelle
                                                            </button>
                                                            <button onclick="window.location='@Url.Action( "Index", "Home")'" type="reset" class="btn btn-light mb-1">
                                                                Vazgeç
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- account setting page ends -->
        </div>
    </div>
</div>
<!-- END: Content-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/frest/app-assets/js/show-hide.js"></script>
<script>
    $(function () {
        $("#jquery-password").validate({
            rules: {
                'Password.OldPassword': {
                    required: true,
                },
                'Password.NewPassword': {
                    required: true,
                },
                'Password.ConfirmPassword': {
                    required: true,
                    equalTo: '#new-password'
                }
            }
        })
    })
</script>