@model List<RoleAssignViewModel>

@{
    ViewData["Title"] = "Kullanıcıya Rol Ata";
}

<h1>RoleAssign</h1>


<form asp-action="RoleAssign" method="post">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div>
            <input asp-for="@Model[i].Exist" type="checkbox" />
            <label asp-for="@Model[i].Id"></label>

            <input asp-for="@Model[i].Name" type="hidden" />
            <input asp-for="@Model[i].Id" type="hidden" />
        </div>
    }
</form>
