@model RoleDto

@{
    ViewData["Title"] = "Rol Düzenle";
}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- app invoice View Page -->
            <section class="invoice-edit-wrapper">
                <div class="row">
                    <!-- invoice view page -->
                    <div class="col-xl-9 col-md-8 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="text-primary">
                                    Rol Düzenle
                                </h4>
                            </div>
                            <div class="card-body pb-0 mx-25">
                                <hr />
                                <form asp-action="CreateRole" id="jquery-val-form">
                                    <input type="hidden" asp-for="Id" />
                                    <div class="row invoice-info">
                                        <div class="col-lg-6 col-md-12 mt-25">
                                            <h6 class="invoice-address form-group">
                                                Rol adı
                                            </h6>
                                            <fieldset class="invoice-address form-group">
                                                <input asp-for="Name" type="text" class="form-control" placeholder="Yönetici, Personel">
                                            </fieldset>
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                            <h6 class="invoice-address form-group">
                                                Rol tanım
                                            </h6>
                                            <fieldset class="invoice-address form-group">
                                                <input asp-for="RoleText" type="text" class="form-control" placeholder="">
                                            </fieldset>
                                            <span asp-validation-for="RoleText" class="text-danger"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- role action  -->
                    <div class="col-xl-3 col-md-4 col-12">
                        <div class="card invoice-action-wrapper shadow-none border">
                            <div class="card-body">
                                <button type="submit" class="btn btn-light-primary btn-block" form="jquery-val-form" asp-action="RoleUpdate">
                                    <i class='bx bx-edit'></i>
                                    <span>
                                        Güncelle
                                    </span>
                                </button>
                                <button type="submit" class="btn btn-light-danger btn-block" form="jquery-val-form" asp-action="RoleDelete">
                                    <i class='bx bx-trash'></i>
                                    <span>
                                        Sil
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->