@model ArGeTesvikTool.WebUI.Models.Index.OtherViewModel
@{
    ViewBag.Title = "Diğer Bilgiler";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-primary">
                            Diğer Bilgiler
                        </h4>
                    </div>
                    <div class="card-body">
                        <hr />
                        <form asp-action="EmploymentInfo" method="get">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <h6 class="invoice-address justify-text">
                                            İşletmenin, Ar-Ge Merkezini kapsayan bir ISO 14001 belgesi var mı?
                                        </h6>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <input asp-for="OtherInfo.Iso14001" class="form-control" readonly="readonly">
                                    </div>
                                    <div class="col-md-5"></div>

                                    <div class="col-md-5">
                                        <h6 class="invoice-address justify-text">
                                            İşletmenin, Ar-Ge Merkezini kapsayan bir ISO 9001 belgesi var mı?
                                        </h6>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <input asp-for="OtherInfo.Iso9001" class="form-control" readonly="readonly">
                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="card-footer d-flex justify-content-between pt-1" style="font-size:inherit">
                                    <div class="d-flex align-items-center"></div>
                                    <div class="d-flex align-items-center">
                                        <span class="ml-25">
                                            Bilgileri düzeltmek için
                                            <a onclick="window.location='@Url.Action( "Index", "NewData")'">
                                                Endeks Bilgileri
                                            </a>
                                            sayfasına gidiniz.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>