<li class="navigation-header text-truncate">
    <span data-i18n="Agm Process">AGM İşlemleri</span>
</li>
<!-- agm system defination-->
<li class="nav-item has-sub">
    <a href="#">
        <i class="bx bx-server"></i>
        <span class="menu-title text-truncate" data-i18n="System Defination">
            Sistem Tanımları
        </span>
    </a>
    <ul class="menu-content">
        <li active-when="/RdCenterCal/TimeAway">
            <a asp-controller="RdCenterCal" asp-action="TimeAway">
                <i class="bx bx-time"></i>
                <span class="menu-title text-truncate" data-i18n="Time Defination">
                    Dışarıda Geç. Süre Tnm.
                </span>
            </a>
        </li>
        <li active-when="/RdCenterCal/PersonnelAssing">
            <a asp-controller="RdCenterCal" asp-action="PersonnelAssing">
                <i class="bx bx-id-card"></i>
                <span class="menu-title text-truncate" data-i18n="Assign Personnel">
                    Projeye Personel Ata
                </span>
            </a>
        </li>
        <li active-when="/RdCenterCal/PublicHoliday">
            <a asp-controller="RdCenterCal" asp-action="PublicHoliday">
                <i class="bx bx-columns"></i>
                <span class="menu-title text-truncate" data-i18n="Public Holiday">
                    Resmi/Dini Tatil Tanımla
                </span>
            </a>
        </li>
    </ul>
</li>
<!-- agm system defination end-->
<!-- agm personnel schedule-->
<li class="nav-item has-sub">
    <a href="#">
        <i class="bx bx-layer"></i>
        <span class="menu-title text-truncate" data-i18n="Personnel Schedule">
            İşlemler
        </span>
    </a>
    <ul class="menu-content">
        <li class="has-sub is-shown">
            <a class="d-flex align-items-center" href="#">
                <i class="bx bx-group"></i>
                <span class="menu-item text-truncate" data-i18n="RD Financal">
                    Personel İşlemleri
                </span>
            </a>
            <ul class="menu-content" style="">
                <li active-when="/RdCenterCal/PersonnelEntry">
                    <a asp-controller="RdCenterCal" asp-action="PersonnelEntry">
                        <i class="bx bx-user-plus"></i>
                        <span class="menu-item text-truncate" data-i18n="Personnel Entry">
                            Aktivite Girişi
                        </span>
                    </a>
                </li>
                <li active-when="/Report/PersonnelActivityReport">
                    <a asp-controller="Report" asp-action="PersonnelActivityReport">
                        <i class="bx bx-chart"></i>
                        <span class="menu-title text-truncate" data-i18n="Personnel Activity Report">
                            Aktivite Raporu
                        </span>
                    </a>
                </li>
                <li active-when="/Report/PersonnelReport">
                    <a asp-controller="Report" asp-action="PersonnelReport">
                        <i class="bx bx-bar-chart-square"></i>
                        <span class="menu-title text-truncate" data-i18n="Personnel Report">
                            Pdks Raporu
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="has-sub is-shown">
            <a class="d-flex align-items-center" href="#">
                <i class="bx bx-user-voice"></i>
                <span class="menu-item text-truncate" data-i18n="RD Financal">
                    Yönetici İşlemleri
                </span>
            </a>
            <ul class="menu-content" style="">
                <li active-when="/RdCenterCal/ManagerEntry">
                    <a asp-controller="RdCenterCal" asp-action="ManagerEntry">
                        <i class="bx bx-user-check"></i>
                        <span class="menu-title text-truncate" data-i18n="Manager Entry">
                            Aktivite Girişi
                        </span>
                    </a>
                </li>
                <li active-when="/Report/ManagerActivityReport">
                    <a asp-controller="Report" asp-action="ManagerActivityReport">
                        <i class="bx bx-line-chart"></i>
                        <span class="menu-title text-truncate" data-i18n="Manager Activity Report">
                            Aktivite Raporu
                        </span>
                    </a>
                </li>
                <li active-when="/Report/ManagerReport">
                    <a asp-controller="Report" asp-action="ManagerReport">
                        <i class="bx bx-bar-chart"></i>
                        <span class="menu-title text-truncate" data-i18n="Manager Report">
                            Pdks Raporu
                        </span>
                    </a>
                </li>
                <li active-when="/Report/TeleworkingReport">
                    <a asp-controller="Report" asp-action="TeleworkingReport">
                        <i class="bx bx-laptop"></i>
                        <span class="menu-title text-truncate" data-i18n="Teleworking Report">
                            Uzaktan Çalışma Kontrol Rapor
                        </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
<!-- agm personnel schedule end-->
<!-- agm day calculation-->
<li class="nav-item has-sub">
    <a href="#">
        <i class="bx bx-calculator"></i>
        <span class="menu-title text-truncate" data-i18n="Calculation">
            Teşvike Esas Gün Hesap
        </span>
    </a>
    <ul class="menu-content">
        <li class="has-sub is-shown">
            <a class="d-flex align-items-center" href="#">
                <i class="bx bxl-google-plus"></i>
                <span class="menu-item text-truncate" data-i18n="Income">
                    Gelir Vergisi
                </span>
            </a>
            <ul class="menu-content" style="">
                <li active-when="/Report/Income">
                    <a asp-controller="Report" asp-action="Income">
                        <i class="bx bx-analyse"></i>
                        <span class="menu-item text-truncate" data-i18n="Income Report">
                            Rapor Çalıştır
                        </span>
                    </a>
                </li>
                <li active-when="/Report/IncomeDownload">
                    <a asp-controller="Report" asp-action="IncomeDownload">
                        <i class="bx bx-cloud-download"></i>
                        <span class="menu-item text-truncate" data-i18n="Income Report Download">
                            Rapor İndir
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="has-sub is-shown">
            <a class="d-flex align-items-center" href="#">
                <i class="bx bxl-skype"></i>
                <span class="menu-item text-truncate" data-i18n="SSI">
                    SGK
                </span>
            </a>
            <ul class="menu-content" style="">
                <li active-when="/Report/SocialSecurity">
                    <a asp-controller="Report" asp-action="SocialSecurity">
                        <i class="bx bx-analyse"></i>
                        <span class="menu-item" data-i18n="SSI Report">
                            Rapor Çalıştır
                        </span>
                    </a>
                </li>
                <li active-when="/Report/SocialSecurityDownload">
                    <a asp-controller="Report" asp-action="SocialSecurityDownload">
                        <i class="bx bx-cloud-download"></i>
                        <span class="menu-item" data-i18n="SSI Report Download">
                            Rapor İndir
                        </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
<!-- agm day calculation end-->