<li class="navigation-header text-truncate">
    <span data-i18n="Agm Process">AGM İşlemleri</span>
</li>
<!-- agm system defination-->
<li class="nav-item has-sub">
    <a href="#">
        <i class="bx bx-server"></i>
        <span class="menu-title text-truncate" data-i18n="System Defination">
            Sistem Tanımları
        </span>
    </a>
    <ul class="menu-content">
        <li active-when="/RdCenterCal/PersonnelInfo">
            <a asp-controller="RdCenterCal" asp-action="PersonnelInfo">
                <i class="bx bx-user-plus"></i>
                <span class="menu-item text-truncate" data-i18n="Person Defination">
                    Personel Tanımlama
                </span>
            </a>
        </li>
        <li active-when="/RdCenterCal/ProjectInfo">
            <a asp-controller="RdCenterCal" asp-action="ProjectInfo">
                <i class="bx bx-folder-plus"></i>
                <span class="menu-item text-truncate" data-i18n="Project Defination">
                    Proje Tanımlama
                </span>
            </a>
        </li>
        <li active-when="/RdCenterCal/TimeAway">
            <a asp-controller="RdCenterCal" asp-action="TimeAway">
                <i class="bx bx-time"></i>
                <span class="menu-title text-truncate" data-i18n="Time Defination">
                    Dışarıda Geç. Süre Tnm.
                </span>
            </a>
        </li>
        <li active-when="/RdCenterCal/PersonnelAssing">
            <a asp-controller="RdCenterCal" asp-action="PersonnelAssing">
                <i class="bx bx-id-card"></i>
                <span class="menu-title text-truncate" data-i18n="Assign Personnel">
                    Projeye Personel Ataması
                </span>
            </a>
        </li>
    </ul>
</li>
<!-- agm system defination end-->
<!-- agm personnel schedule-->
<li class="nav-item has-sub">
    <a href="#">
        <i class="bx bx-bar-chart-alt-2"></i>
        <span class="menu-title text-truncate" data-i18n="Personnel Schedule">
            Personel Çizelgesi
        </span>
    </a>
    <ul class="menu-content">
        <li active-when="/ /">
            <a asp-controller="" asp-action="">
                <i class="bx bx-git-compare"></i>
                <span class="menu-item text-truncate" data-i18n="Integration">
                    Pdks Entegrasyonu
                </span>
            </a>
        </li>
        <li active-when="/RdCenterCal/PersonnelEntry">
            <a asp-controller="RdCenterCal" asp-action="PersonnelEntry">
                <i class="bx bx-group"></i>
                <span class="menu-item text-truncate" data-i18n="Personnel Entry">
                    Personel Aktivite Girişi
                </span>
            </a>
        </li>
        <li active-when="/ /">
            <a asp-controller="" asp-action="">
                <i class="bx bx-user-voice"></i>
                <span class="menu-title text-truncate" data-i18n="Manager Entry">
                    Yönetici Aktivite Girişi
                </span>
            </a>
        </li>
        <li active-when="/ /">
            <a asp-controller="" asp-action="">
                <i class="bx bx-chart"></i>
                <span class="menu-title text-truncate" data-i18n="Personnel Activity Report">
                    Pers. Aktivite Raporu
                </span>
            </a>
        </li>
        <li active-when="/ /">
            <a asp-controller="" asp-action="">
                <i class="bx bx-line-chart"></i>
                <span class="menu-title text-truncate" data-i18n="Manager Activity Report">
                    Yönetici Aktivite Raporu
                </span>
            </a>
        </li>
        <li active-when="/ /">
            <a asp-controller="" asp-action="">
                <i class="bx bx-bar-chart-square"></i>
                <span class="menu-title text-truncate" data-i18n="Personnel Report">
                    Personel Pdks Raporu
                </span>
            </a>
        </li>
        <li active-when="/ /">
            <a asp-controller="" asp-action="">
                <i class="bx bx-bar-chart"></i>
                <span class="menu-title text-truncate" data-i18n="Manager Report">
                    Yönetici Pdks Raporu
                </span>
            </a>
        </li>
    </ul>
</li>
<!-- agm personnel schedule end-->
<!-- agm day calculation-->
<li class="nav-item has-sub">
    <a href="#">
        <i class="bx bx-calculator"></i>
        <span class="menu-title text-truncate" data-i18n="Calculation">
            Teşvike Esas Gün Hesap
        </span>
    </a>
    <ul class="menu-content">
        <li active-when="/ /">
            <a asp-controller="" asp-action="">
                <i class="bx bx-table"></i>
                <span class="menu-item text-truncate" data-i18n="Day Calculation">
                    Gün Sayısı Hesaplama
                </span>
            </a>
        </li>
        <li active-when="/ /">
            <a asp-controller="" asp-action="">
                <i class="bx bx-copy-alt"></i>
                <span class="menu-item" data-i18n="Day Report">
                    Gün Sayısı Raporu
                </span>
            </a>
        </li>
    </ul>
</li>
<!-- agm day calculation end-->