<li class="nav-item">
    <a href="#">
        <i class="bx bx-printer"></i>
        <span class="menu-title text-truncate" data-i18n="Output">
            Sonuç/Rapor/Çıktı
        </span>
    </a>
</li>