<li class="nav-item has-sub">
    <a href="#">
        <i class="bx bx-buildings"></i>
        <span class="menu-title text-truncate" data-i18n="RD General Info">
            AGM Genel Bilgileri
        </span>
    </a>
    <ul class="menu-content">
        <li active-when="/RdCenter/Contact">
            <a asp-controller="RdCenter" asp-action="Contact" asp-route-year="2022">
                <i class="bx bx-task"></i>
                <span class="menu-title text-truncate" data-i18n="RD Contact">
                    AGM Yetkilisi
                </span>
            </a>
        </li>
        <li active-when="/RdCenter/Info">
            <a asp-controller="RdCenter" asp-action="Info" asp-route-year="2022">
                <i class="bx bx-info-circle"></i>
                <span class="menu-item text-truncate" data-i18n="RD Info">
                    AGM Bilgileri
                </span>
            </a>
        </li>
        <li active-when="/RdCenter/Schema">
            <a asp-controller="RdCenter" asp-action="Schema" asp-route-year="2022">
                <i class="bx bx-git-repo-forked"></i>
                <span class="menu-item text-truncate" data-i18n="RD Setup Schema">
                    Organizasyon Şeması
                </span>
            </a>
        </li>
        <li active-when="/RdCenter/PhysicalArea">
            <a asp-controller="RdCenter" asp-action="PhysicalArea" asp-route-year="2022">
                <i class="bx bxs-component"></i>
                <span class="menu-item text-truncate" data-i18n="RD Physical Area">
                    AGM Fiziki Alan Bilgi
                </span>
            </a>
        </li>
        <li class="has-sub is-shown">
            <a class="d-flex align-items-center" href="#">
                <i class="bx bx-credit-card"></i>
                <span class="menu-item text-truncate" data-i18n="RD Financal">
                    Mali ve Finansal Bilgileri
                </span>
            </a>
            <ul class="menu-content" style="">
                <li active-when="/RdCenter/Discount">
                    <a asp-controller="RdCenter" asp-action="Discount" asp-route-year="2022">
                        <i class="bx bx-receipt"></i>
                        <span class="menu-item text-truncate" data-i18n="Rd Discount">
                            Ar-Ge İndirimine Konu Olan
                        </span>
                    </a>
                </li>
                <li active-when="/RdCenter/Amount">
                    <a asp-controller="RdCenter" asp-action="Amount" asp-route-year="2022">
                        <i class="bx bx-detail"></i>
                        <span class="menu-item text-truncate" data-i18n="Rd Amount">
                            5746 Sayılı Kanun Kapsamında
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li active-when="/RdCenter/ProjectFinancalInfo">
            <a asp-controller="RdCenter" asp-action="ProjectFinancalInfo" asp-route-year="2022">
                <i class="bx bxl-stripe"></i>
                <span class="menu-item text-truncate" data-i18n="RD Physical Area">
                    Proje Bazında Finansal Bilgi
                </span>
            </a>
        </li>
    </ul>
</li>