<li class="nav-item">
    <a href="#">
        <i class="bx bx-bar-chart-alt"></i>
        <span class="menu-item text-truncate" data-i18n="Performance Info">
            AGM Performan Takip
        </span>
    </a>
    <ul class="menu-content">
        <li class="nav-item">
            <a href="#">
                <i class="bx bx-spreadsheet"></i>
                <span class="menu-item text-truncate" data-i18n="Taken Decision">
                    Değerlendirme Top. Alınan Kararlar
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <i class="bx bx-stats"></i>
                <span class="menu-item text-truncate" data-i18n="Performance Criteria">
                    AGM Performans Kriteri
                </span>
            </a>
        </li>
        <li active-when="/RdCenterPerformanceController/Project">
            <a asp-controller="RdCenterPerformance" asp-action="Project" asp-route-year="2022">
                <i class="bx bx-bar-chart-square"></i>
                <span class="menu-item text-truncate" data-i18n="Commercial Project">
                    Ticari Proje Rapor
                </span>
            </a>
        </li>
    </ul>
</li>