@model FiscalYearViewModel
@{
    ViewBag.Title = "AGM Teşvik Modül";
}
<div class="text-center">
    <img src="~/frest/app-assets/images/background/borusan.png" />
</div>
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic Modals start -->
            <section id="basic-modals">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="card">
                            <!--Basic Modal -->
                            <div class="modal fade text-left" id="default" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Yıl seçiniz</h3>
                                        </div>
                                        <div class="modal-body">
                                            @Html.AntiForgeryToken()
                                            <fieldset class="form-group">
                                                <select class="form-control" id="fiscalYear">
                                                    @foreach (var item in Model.YearList)
                                                    {
                                                        <option>@item.Year</option>
                                                    }
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal" onclick="selectOnChange()">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Seç</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<script>
    $(document).ready(function () {
        if (sessionStorage.getItem('default') !== 'true') {
            $('#default').modal('show');
            sessionStorage.setItem('default', 'true');
        };

        var message = "@(TempData["SuccessMessage"] as string)";
        if (message != "") {
            showMessage(message);
        };
    });

    var token = $('input[name="__RequestVerificationToken"]').val();
    function selectOnChange() {
        var valueSelected = $("#fiscalYear option:selected").text();
        sessionStorage.setItem('year', valueSelected);

        $.ajax({
            type: "POST",
            url: "/Home/Index",
            data: {
                __RequestVerificationToken: token,
                year: valueSelected
            },
            success: function(){
                location.reload();
            }
        })
    }
</script>