@model BusinessInfoViewModel
@{
    ViewBag.Title = "İşletme Bilgileri";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-primary">
                            İşletme Bilgileri
                        </h4>
                    </div>
                    <div class="card-body">
                        <hr />
                        <form asp-action="Info" method="post" id="jquery-val-form">
                            <div asp-validation-summary="ModelOnly" class="alert bg-rgba-danger alert-dismissible mb-2">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            İşletme Ünvan
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="BusinessInfo.CompanyName" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Faaliyet Kodu
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea asp-for="BusinessInfo.ActivityCode" class="form-control" rows="2"></textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Adres
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea asp-for="BusinessInfo.Adress" class="form-control" rows="2"></textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            İl
                                        </h6>
                                    </div>
                                    <input asp-for="BusinessInfo.CityText" type="hidden" class="form-control" />
                                    <div class="col-md-8 form-group">
                                        <fieldset class="form-group">
                                            <select asp-for="BusinessInfo.CityCode" id="city" class="select2 form-control select2-hidden-accessible">
                                                <option selected="selected" value="">
                                                    Seçiniz
                                                </option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Telefon
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="BusinessInfo.PhoneNumber" type="text" id="phone" maxlength="14" class="form-control" placeholder="(532) 123-4567" />
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            E-Posta
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="BusinessInfo.Mail" type="email" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Yerli/Yabancı Ortaklık
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea asp-for="BusinessInfo.Partner" class="form-control" rows="2"></textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Kuruluş Tarihi
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input asp-for="BusinessInfo.Date" type="text" asp-format="{0:dd-MM-yyyy}" class="form-control pickadate-months-year" placeholder="Tarih seçin" />
                                            <div class="form-control-position">
                                                <i class='bx bx-calendar'></i>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Ticaret Sicil Gazatesinde Yayımlama Tarihi
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input asp-for="BusinessInfo.PublishDate" type="text" asp-format="{0:dd-MM-yyyy}" class="form-control pickadate-months-year" placeholder="Tarih seçin" />
                                            <div class="form-control-position">
                                                <i class='bx bx-calendar'></i>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Sanayi/Ticaret Sicil No
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="BusinessInfo.TradeNumber" type="number" maxlength="26" onkeydown="return event.keyCode !== 69" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Kayıtlı Olduğu Sanayi/Ticaret Odası
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="BusinessInfo.ChamberCommerce" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Vergi Dairesi
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="BusinessInfo.TaxOffice" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            SGK İşyeri Sicil No
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="BusinessInfo.RegistrationNo" type="number" maxlength="26" onkeydown="return event.keyCode !== 69" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Kuruluş Sermayesi
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="BusinessInfo.FoundingCapital" class="form-control currency" maxlength="20" placeholder="0,00" />
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Mevcut Sermaye
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="BusinessInfo.AvaibleCapital" class="form-control currency" maxlength="20" placeholder="0,00" />
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Kobi mi?
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <select asp-for="BusinessInfo.IsSME" asp-items="Html.GetEnumSelectList<Sme>()" class="form-control">
                                            <option selected="selected" value="">
                                                Seçiniz
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="invoice-address">
                                            Mersis Numarası
                                        </h6>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="BusinessInfo.CRSNumber" type="number" maxlength="16" class="form-control" onkeydown="return event.keyCode !== 69" />
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1">
                                            Kaydet
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->
<script src="~/frest/app-assets/js/phone-mask.js"></script>
<script src="~/frest/app-assets/js/list-city.js"></script>
<script>
    $(document).ready(function () {
        $("#city").val('@ViewBag.City');
        $("#city").change();

        $("#city").on("change", function () {
            $('input[name="BusinessInfo.CityText"]').val($("#city option:selected").text());
        })
    });
</script>