@{
    ViewData["Title"] = "İşletme Bilgileri";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-primary">
                            İşletme Bilgileri
                        </h4>
                    </div>
                    <div class="card-body">
                        <hr />
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>İşletme Ünvan</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" class="form-control" id="iBusinessTitle" name="inputBusinessTitle">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Faaliyet Kodu</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea class="form-control" rows="2" id="iActivityCode" name="inputActivityCode"></textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Adres</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea class="form-control" rows="2" id="iAddress" name="inputAddress"></textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <label>İl</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" class="form-control" id="iCountry" name="inğutCountry">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Telefon</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="tel" class="form-control" id="iTelephone" name="inputTelephone">
                                    </div>
                                    <div class="col-md-4">
                                        <label>E-posta Adresi</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="email" class="form-control" id="iEmail" name="inputEmail">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Yerli/Yabancı Ortaklık</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea class="form-control" rows="2" id="iPartner" name="inputPartner"></textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Kuruluş Tarihi</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="date" class="form-control" id="iDate" name="inputDate">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Ticaret Sicil Gazatesinde Yayımlama Tarihi</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="date" class="form-control" id="iPublishDate" name="inputPublishDate">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Sanayi/Ticaret Sicil No</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" class="form-control" id="iTradeNumber" name="inputTradeNumber">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Kayıtlı Olduğu Sanayi/Ticaret Odası</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" class="form-control" id="iChamberCommerce" name="inputChamberCommerce">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Vergi Dairesi/no</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="number" class="form-control" id="iTaxOffice" name="inputTaxOffice">
                                    </div>
                                    <div class="col-md-4">
                                        <label>SGK İşyeri Sicil No</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="number" class="form-control" id="iRegistrationNo" name="inputRegistrationNo">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Kuruluş Sermayesi</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="number" class="form-control" id="iFoundingCapital" name="inputFoundingCapital">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Mevcut Sermaye</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="number" class="form-control" id="iAvailableCapital" name="inputAvailableCapital">
                                    </div>
                                    <div class="col-md-4">
                                        <label>KOBİ mi?</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <fieldset class="form-group">
                                            <select class="form-control" id="isKobi">
                                                <option>Evet</option>
                                                <option>Hayır</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Mersis No</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="number" class="form-control" id="iSystemNo" name="inputSystemNo">
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-1">Kaydet</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->