@model RdCenterTechCollabrationViewModel
@{
    ViewData["Title"] = "Ulusal/Uluslararası İşbirlikleri";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <h4 class="text-primary">
                Ulusal / Uluslararası İşbirlikleri
            </h4>
            <br />
            <section class="invoice-list-wrapper">
                <div class="invoice-create-btn mb-1">
                    <a asp-action="" class="btn btn-primary invoice-create" role="button" aria-pressed="true">
                        Yeni İşbirliği Ekle
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table invoice-data-table dt-responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>
                                    İşbirliği Yapılan
                                </th>
                                <th>
                                    İşbirliği Yapılan Kurum/Kişi
                                </th>
                                <th>
                                    Ülkesi
                                </th>
                                <th>
                                    İşbirliği Türü/Şekli
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Üniversiteler</td>
                                <td>
                                    İTÜNOVA - İTÜ İşletme Mühendisliği / Doç. Dr. Dilay Çelebi
                                </td>
                                <td>Türkiye</td>
                                <td>
                                    Üniversite Sanayi İşbirliği: Elektrikli Araç Platformu Projesinde akademik danışmanlık alınmıştır.
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    Ar-Ge / Tasarım Merkezleri
                                </td>
                                <td>
                                    Borusan Teknoloji Geliştirme ve ArGe A.Ş. (Tamamlandı)
                                </td>
                                <td>Türkiye</td>
                                <td>
                                    ArGe İşbirliği: Ford Milkrun, Precubing Optimizasyon ve Yurtiçi Kara Taşımacılık (LTL-FTL) Süreçlerinin Optimizasyonu projelerinde ortak geliştirme yapılmıştır.
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    Diğer / Kurum, Kuruluş, Vakıf ve Fonlar
                                </td>
                                <td>
                                    ALICE (Alliance for Logistics Innovation through Collaboration in Europe)
                                </td>
                                <td>Türkiye</td>
                                <td>
                                    AB Teknoloji Platformuna Katılım
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->