@model IEnumerable<ArGeTesvikTool.WebUI.Models.RdCenterTech.RdCenterPropertyViewModel>

@{
    ViewData["Title"] = "Mülkiyet Hakları Genel Durumu";
}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <h4 class="text-primary">
                Son İki Faaliyet Dönemine İlişkin Fikri ve Sınai Mülkiyet Hakları Genel Durumu
            </h4>
            <br />
            <section class="invoice-list-wrapper">
                <div class="invoice-create-btn mb-1">
                    <a asp-action="" class="btn btn-primary invoice-create" role="button" aria-pressed="true">
                        Yeni Bilgi Ekle
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table invoice-data-table dt-responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>
                                    Fikri ve Sınai Mülkiyet ve Yayın Durumu
                                </th>
                                <th>
                                    2019
                                </th>
                                <th>
                                    2020
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Tescil Edilen Ulusal veya Uluslararası Patent Sayısı</td>
                                <td>
                                    0
                                </td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Tescillenen Tasarım Sayısı</td>
                                <td>
                                    0
                                </td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Yayın, Makale, Bildiri Sayısı</td>
                                <td>
                                    2
                                </td>
                                <td>2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
