@model RdCenterCalPublicHolidayViewModel

<input asp-for="NewHoliday.Id" hidden="hidden" />

<h6 class="invoice-address">
    Tatil İsmi
</h6>
<div class="form-group">
    <input asp-for="NewHoliday.HolidayName" class="form-control" />
</div>

<h6 class="invoice-address">
    Yarım Gün mü?
</h6>
<div class="form-group checkbox">
    <input asp-for="NewHoliday.IsHalfDay" type="checkbox" class="form-group checkbox-input" id="isHalfDay" />
    <label for="isHalfDay">
        Resmi tatil yarım gün varsa işaretleyin
    </label>
</div>

<h6 class="invoice-address">
    Tatil Başlangıç Tarihi
</h6>
<div class="form-group">
    <fieldset class="form-group position-relative has-icon-left">
        <input asp-for="NewHoliday.StartDate" type="date" id="startDatePicker" class="form-control pickadate-months-year" placeholder="Tarih seçin" />
        <div class="form-control-position">
            <i class='bx bx-calendar'></i>
        </div>
    </fieldset>
</div>
<h6 class="invoice-address">
    Tatil Bitiş Tarihi
</h6>
<div class="form-group">
    <fieldset class="form-group position-relative has-icon-left">
        <input asp-for="NewHoliday.EndDate" type="date" id="endDatePicker" class="form-control pickadate-months-year" placeholder="Tarih seçin" />
        <div class="form-control-position">
            <i class='bx bx-calendar'></i>
        </div>
    </fieldset>
</div>

<script src="~/frest/app-assets/js/scripts/pickers/dateTime/pick-a-datetime.js"></script>
<script>
    var startDate = moment($("#startDatePicker").val()).format('DD.MM.YYYY')
    if (startDate != "01.01.0001") {
        $("#startDatePicker").val(startDate);
    }
    else {
        $("#startDatePicker").val("");
    }

    var endDate = moment($("#endDatePicker").val()).format('DD.MM.YYYY')
    if (endDate != "01.01.0001") {
        $("#endDatePicker").val(endDate);
    }
    else {
        $("#endDatePicker").val("");
    }
</script>