@model RdCenterCalTimeAwayViewModel

<input asp-for="NewTimeAway.Id" hidden="hidden" />

<h6 class="invoice-address">
    Dışarıda Geçen Süre Kodu
</h6>
<div class="form-group">
    <input asp-for="NewTimeAway.TimeAwayCode" class="form-control" />
</div>

<h6 class="invoice-address">
    Dışarıda Geçen Süre Tanım
</h6>
<div class="form-group">
    <input asp-for="NewTimeAway.TimeAwayName" class="form-control" />
</div>